.App {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.cell {
  width: 25%;
  height: 150px;
  float: left;
  line-height: 150px;
  text-align: center;
  background: #fff;
  font-size: 50px;
  font-weight: 700;
  color: #444;
  box-sizing: border-box;
  border: 1px solid #ddd;
  user-select: none;
  cursor: pointer;
}

.cell.initial {
  background: #eee;
  color: #666;
  cursor: initial;
}

.cell:nth-child(-n + 4) {
  border-top: 3px black solid;
}

.cell:nth-child(n + 13) {
  border-bottom: 3px black solid;
}

.cell:nth-child(4n + 1) {
  border-left: 3px black solid;
}

.cell:nth-child(4n) {
  border-right: 3px black solid;
}

.cell:nth-child(4n + 2) {
  border-right: 3px black solid;
}

.cell:nth-child(5) {
  border-bottom: 3px black solid;
}

.cell:nth-child(6) {
  border-bottom: 3px black solid;
}

.cell:nth-child(7) {
  border-bottom: 3px black solid;
}

.cell:nth-child(8) {
  border-bottom: 3px black solid;
}

p {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}

button {
  padding: 15px;
  border: 0;
  background: #444;
  color: #fff;
  font-size: 25px;
  border-radius: 5px;
  margin-top: 10px;
}
